<%- include("./partials/main.ejs") %>
<div class="container">

    <h1>Dashboard</h1>
    <h3>Welcome <%=user.displayName %></h3>
    <p>Here are all your stories</p>

    <% if(stories){ %>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <%  stories.forEach(story=>{%>

            <tr>
                <td><a href="/stories/<%=stories._id %>"><%= story.title %></a></td>
                <td><%=story.createdAt %></td>
                <td><%=story.status %></td>

                <td></td>
            </tr>
            <% })%>
        </tbody>
    </table>

    <% } else{ %>
    <p>you have not created any stories</p>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>